.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* *{
  margin: 0;
  padding: 0;
} */

.display-none {
  display: none;
}
/* shared styles */
.section-title {
  font-size: 2.8rem;
}
.section-desecription {
  font-size: 18px;
  color: #727272;
  margin-top: -20px;
  font-weight: 400;
}
.display-flex {
  display: flex;
  font-weight: 700;
}

/* Dark 02 */
.gray-color {
  color: #424242;
}

/* Dark 03 */
.light-gray {
  color: #727272;
}
.bg-light {
  background: rgba(255, 144, 14, 0.1);
}
main > section {
  margin-top: 130px;
}
.primary-btn {
  font-size: 1.5rem;
  background-color: #ff900e;
  color: #fff;
  padding: 15px 25px;
  margin-bottom: 40px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
main {
  max-width: 1445px;
  margin: 0 auto;
}

/* header styles */

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 80px;
  font-weight: 500;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
/* banner related styles */
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.bannder-description {
  font-size: 18px;
  color: #727272;
  margin-top: -40px;
}
.banner-img {
  margin-bottom: 80px;
  width: 100%;
}

/* team and feature related styles */


.team-imges-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.our-features {
  max-width: 550px;
  margin: 100px 50px;
}
.features-title {
  font-size: 2.8rem;
}

#quick-list {
  color: #727272;
  font-weight: 700;
}
.of-our {
  font-weight: 800;
}

.freatures {
  color: #ff900e;
}
/* Features you will love & enjoy  */
.some-acts {
  width: 700px;
  margin-bottom: 50px;
}

.card-conternir {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  width: 240px;
  height: 240px;
  border: 2px solid #ff900e;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div {
  margin-top: 20px;
}
.fact-number {
  font-size: 2.8rem;
  margin-top: 0px;
  color: #424242;
}
.fact-name {
  margin-top: -50px;
  font-size: 20px;
  font-weight: 500;
  color: #727272;
}
/* Our Sponspors */
.title-and-ded{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.compnay-sepnsor{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 100px;

}
.section-title{
  color: #424242;
}
.compnay-sepnsor img{
filter: grayscale(100%);
}
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .brand {
    text-align: center;
    margin: 0 auto;
  }
  .teams {
    flex-direction: column-reverse;
    text-align: center;
  }
  .team-imges-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .our-features {
    margin: 20px;
  }
  .card-conternir {
    grid-template-columns: repeat(1,1fr);
   margin: 0 auto;
    row-gap: 20px;

  }
  .some-acts{
    width: 100%;
    text-align: center;
  }
  .fact-card{
    margin: 0 auto;

  }
  .compnay-sepnsor {
    grid-template-columns: 1fr;
    row-gap: 50px;
    /* margin-left:150px; */
    justify-items: center;/

  }
}
